body {
      background-color: #bac4a2;
}
.container-principal{
      background-color: #4c9a8d;
}
.container-secondaire{
      background-color: #3c776c;
      margin-left:auto;
      margin-right:auto
}
.navbar {
	background-color: #474e5d;
}
.navbar-nav  li a {
    color: #4c9a8d !important;
}
.navbar-nav  li a:hover {
    color: #dbe0cf !important;
}
.nav a {
    color: #ffffff !important;
}
.navbar-default{border-color:#474e5d}

#titreNav{
color: #a0ddf3 !important;	
}
#titreNav:hover{
color: #ffffff !important;	
}
h2{
color: #797979!important;
}
label{
color: #626262 !important;
}
.arrondie {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
